/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

#squares {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  height: 100%;
}

.square {
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 5px;
}

.square.pink {
  background-color: #C6D8D3;
}

.square.yellow {
  background-color: #D81E5B;
}

.square.orange {
  background-color: #F0544F;
}

#title {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  margin-top: 3em;
}

#title h1 {
    color: #381A36;
    font-size: 5em;
}

#title p {
  color: #381A36;
  line-height: 150%;
  width: 300px;
}

#title a, #title a:visited, #title a:hover {
  text-decoration: none;
  color: #381A36;
  font-weight: bold;
}

#paragraph-container {
  display: flex;
  justify-content: space-around;
}

